# ignores advancements
**bigrat.monster-event/advancements/
**bigrat.monster-event/data/
**bigrat.monster-event/DIM1
**bigrat.monster-event/DIM-1
**bigrat.monster-event/entities/
**bigrat.monster-event/gc-logs/
**bigrat.monster-event/playerdata/
**bigrat.monster-event/poi/
**bigrat.monster-event/region/
**bigrat.monster-event/stats/
**bigrat.monster-event/datapacks/bukkit/

# ignores .mca
*.mca
*.dat
*.dat_old
*.yml
*.lock
*.dat
*.png
*.log
