# ignores advancements
**bigrat.monster-event/world/advancements/
**bigrat.monster-event/world/data/
**bigrat.monster-event/world/DIM1
**bigrat.monster-event/world/DIM-1
**bigrat.monster-event/world/entities/
**bigrat.monster-event/world/gc-logs/
**bigrat.monster-event/world/playerdata/
**bigrat.monster-event/world/poi/
**bigrat.monster-event/world/region/
**bigrat.monster-event/world/stats/

# ignores .mca
*.mca
*.dat
*.dat_old
*.yml
*.lock
*.dat
*.png